* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .stack-item {
    background-color: rgb(120, 149, 222);
    border-radius: 5px;
  }
  .form-edit{
    margin-top: 35px;
  }
  h2.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
    margin-bottom: 35px;
    /* background-color: violet; */
}
.MuiContainer-root.MuiContainer-maxWidthSm.css-cuefkz-MuiContainer-root {
  margin-bottom: 20px;
  
}
.todo-app {
  /* background-color: pink; */
}
h2.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
  /* margin-bottom: 35px; */
  /* background-color: violet; */
  /* justify-content: center; */
  text-align: center;
  /* color: aliceblue; */
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 15px;
  width: 100%;

}
/* th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  border: 0;
} */

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  color: white;
}
h2.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
  margin: 15px;
}

element.style {
}
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
    color: RED;
    /* text-decoration: underline; */
    font-size: 18px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.delete-icon.css-i4bv87-MuiSvgIcon-root {
  color: lightslategray;
  margin-right: 15px;
    font-size: 30px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.edit-icon.css-i4bv87-MuiSvgIcon-root {
  color: DODGERBLUE;
  margin-right: 15px;
  font-size: 30px;
}
span.MuiTypography-root.MuiTypography-h8.css-37jdci-MuiTypography-root {
  margin: 5px;
  color: red;
}
span {
  color: red;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.delete-icon.css-i4bv87-MuiSvgIcon-root {
  cursor: pointer;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: #fff;
  padding: -1px;
  border: 0;
  margin-top: -3px;
  margin-left: 10px;
  font-size: 30px;
}
.home_banner{
  height: 100%;
  color:#fff;
  background-color: #d3d0c9;
  margin: 0;
}
h2.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
  margin: 0;
}
/* div {
  /* align-items: center; */
  /* justify-content: center; */
  .icon_panner {
    text-align: center;
    margin-top: 15px;
}
a.go_home {
  color: white;
}
.search_container{
  color: #fff;
}
.search_container{
  margin-bottom: 15px;
}
.MuiAutocomplete-root.css-1qqsdnr-MuiAutocomplete-root {
  margin-bottom: 15px;
}
.inputsearch {
  display: flex;
  /* flex-wrap: nowrap; */
}
.buttonSearch {
  font-size: 20px;
}
.buttonSearch {
  font-size: 46px;
    background-color: #1976d2;
    width: 54px;
    border-radius: 7px;
    margin-left: 2px;
    height: 100%;
}
.MuiBox-root.css-1jewqar {
  text-align: center;
}
label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 400px;
  /* margin-right: 13px; */
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: 400px;
}

.button_Login_signup {
  width: 73%;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.button_Login_signup.css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 82%;
}
.css-1p5q5e5-MuiStack-root {
  margin-left: 66px;
}
span.number_card {
  padding: 1px 5px;
  border-radius: 19px;
  position: relative;
  background-color: #fff;
  /* margin-bottom: -40px; */
  /* font-size: 17px; */
}
/* .product_price {
  display: flex;
  justify-content: space-between;
} */
.css-1t6e9jv-MuiCardActions-root {
  /* background-color: aliceblue; */
  justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
}
.inputsearch {
  margin-bottom: 15px;
}
.css-1yhpg23-MuiTableCell-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.css-1p5q5e5-MuiStack-root {
  margin: 0;
}
input.input_amount {
  width: 24px;
}